@import '../../app.scss';


.services {
  background: linear-gradient(180deg, #7A7ADB, #170E13);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


//   @include mobile {
//     .mobile-skills-section {
//       /* Add styles for the new skills section */
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       padding: 20px;
//       background-color: #333; /* Change the background color as needed */
//       color: #fff; /* Change the text color as needed */
//     }
    
// }
    .textContainer{
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;

        @include mobile{
            align-self: center;
            text-align: center;
            flex-direction: column;

        }

        p{
            font-weight: 200;
            font-size: 20px;
            color: #fff;
            text-align:right;

            @include mobile{
                text-align:center;
    
            }
        }

        

        hr{
            width: 300px;
            border: none;
            border-top: 0.5px solid #fff;

            @include mobile{
                width: 300px;
    
            }   
        }
    }
    .titleContainer{
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile{
            width: 100%;

        }

        .title{
            display: flex;
            gap: 20px;
            align-items: center;

            @include mobile{
                flex-direction: column;
                text-align: center;
                gap: 20px; 
    
            }

            img{
            width: 300px;
            height: 100px;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            object-fit: cover;

            @include mobile{
                width: 200px;
                height: 50px;
                margin-top: 5rem;
    
            }


        }

        h1{
            font-size: 70px;
            font-weight: 100;

            @include mobile{
                font-size: 36px;
    
            }
        }

        button{
            width: 300px;
            height: 100px;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            background-color: orange;
            border: none;
            font-size: 24px;
            cursor: pointer;

            &:hover {
                background-color: #ff9900; // Change the color on hover
                color: #fff; // Change text color on hover
                transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; // Add smooth transition
              }

            @include mobile{
                font-size: 16px;
                width: 150px;
                height: 50px;
                display: none;
            }
}
    }
}

.listContainer{
    flex: 2;
    display: flex;
    max-width: 1366px;
    margin: auto;

    @include mobile{
        flex-direction: column;
        width: 100%;

    }

    .box{
        padding: 50px;
        border: 0.5px solid gray;
        flex-direction: column;
        justify-content: space-between;
        display: flex;
        

        @include mobile{
            margin-top: 1rem;
            align-items: center;
            gap: 20px;
            padding: 30px;
        }

        p{
            padding: 1rem 0 ;

            @include mobile{
                display: none;
    
            }
        }

        button{
            padding: 10px;
            background-color: orange;
            border: none;
            font-size: 1rem;
            cursor: pointer;

            &:hover {
                background-color: #ff9900; // Change the color on hover
                color: #fff; // Change text color on hover
                transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; // Add smooth transition
              }

            @include mobile{
                background-color: transparent;
                border: 1px solid orange;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                color: orange;
                width: 50%;
                padding: 5px;
                
            }

            
        }
    }
}

.listContainer{
    flex: 2;
}
}